body {
margin-left: 10%; margin-right: 10%; padding-top: 2ex
font-family: Arial,Helvetica,sans-serif;
font-weight: normal;
}

h1{
font-size:25pt;
font-style:italic;
font-weight:bold;
}

h2 {
border-bottom-style: solid;
border-bottom-width: 1px;
color: black;
font-family: Arial,Helvetica,sans-serif;
font-size: 14pt;
font-weight: normal;
margin-left: 0px;
margin-top: 20px;
}

h3{
margin-left:0px;
color: #25008b;
}

hr {	
border: 0px; 
border-top: 1px solid black;
margin: 5px;
}

table.banner {
  padding: 1px;
  font-weight: bold;
font-family: Arial,Helvetica,sans-serif;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 3pt;
}
