/* Created with https://github.com/majodev/google-webfonts-helper/ */

/* source-sans-3-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/source-sans-3-v9-latin-regular.woff2") format("woff2");
}

/* ubuntu-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ubuntu-mono-v15-latin-regular.woff2") format("woff2");
}

/* raleway-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/raleway-v28-latin-700.woff2") format("woff2");
}

/* raleway-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/raleway-v28-latin-900.woff2") format("woff2");
}
