<!DOCTYPE HTML>
<html>
   <head>
      <title>$title$</title>
      <meta charset="utf-8">
      <meta content="IE edge" http-equiv="X-UA-Compatible">
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <meta content="haskell,functional,pure,programming,lazy" name="keywords">
      <meta content="The Haskell purely functional programming language home page." name="description">
      <link href="/img/favicon.ico" rel="shortcut icon">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Raleway:700,900|Ubuntu+Mono:400" type="text/css" rel="stylesheet">
      <link href="/css/hl.css" type="text/css" rel="stylesheet">
   </head>
   <body class="page-$page$">
     <div class="wrap">
       $partial("templates/nav.html")$
       $body$
     </div>
     <div class="footer">
        <div class="container">
           <p>
           <div class=" container ">
              <div class=" row ">
                 <div class=" span3 col-sm-4 col-md-3"><span class="item">© 2014–$year$ haskell.org</span></div>
                 <div class=" span12 col-xs-12 visible-xs"><br></div>
                 <div class=" span8 col-sm-4 col-md-6 text-center"><br class="visible-xs"><span class="item">Got changes to contribute to the site? </span><br class="visible-xs"><a href="https://github.com/haskell-infra/hl">Fork or comment on Github</a><br class="visible-xs"></div>
                 <div class=" span12 col-xs-12 visible-xs"><br></div>
                 <div class=" span3 col-sm-4 col-md-3 text-right"><span>Proudly hosted by </span><a href="https://www.rackspace.com/"><img height="20" width="20" src="/img/rackspace.svg?etag=J84VdDuP" alt="rackspace"></a></div>
                 <div class=" span12 col-sm-12"><br></div>
              </div>
           </div>
           </p>
        </div>
     </div>
     <script src="/js/jquery.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/js/home.js"></script>
     <script src="/js/jquery.console.js"></script>
     <script src="/js/tryhaskell.js"></script>
     <script src="/js/tryhaskell.pages.js"></script>
     <script>var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-83290513-1']);
        _gaq.push(['_trackPageview']);
        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
     </script>
   </body>
</html>
