<div class="glider-contain">
    <div class="glider">
        $for(testimonials)$
            <div class=" span3 col-xs-6 col-sm-3 col-md-2">
                <div class= "thumbnail">
                    <img width="100px" src="./testimonials/$logoURL$" class="img responsive"><br>
                    <div class="caption">
                        <h3>$companyName$</h2>
                        <h5>$shortTestimonial$</h5>
                    </div>
                    <hr>
                </div>
            </div>
        $endfor$
    </div> 
    <button role="button" aria-label="Previous" class="glider-prev">«</button>
    <button role="button" aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
</div>

<script>new Glider(document.querySelector('.glider'), {
    // Default configuration for mobile
    slidesToShow: 1,
    draggable: true,
    arrows: {
      prev: '.glider-prev',
      next: '.glider-next'
    },
    dots: '.dots',
    responsive: [
    {
      // screens greater than >= 775px
      breakpoint: 775,
      settings: {
        // Set to `auto` and provide item width to adjust to viewport
        slidesToShow: 'auto',
        slidesToScroll: 'auto',
        itemWidth: 150,
        duration: 0.25
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 1024,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 1,
        itemWidth: 150,
        duration: 0.25
      }
    }
  ]
  })</script>
