<!DOCTYPE HTML>
<html lang="en">
   <head>
      <title>$title$</title>
      <meta charset="utf-8">
      <meta content="IE edge" http-equiv="X-UA-Compatible">
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <meta content="haskell,functional,pure,programming,lazy" name="keywords">
      <meta content="The Haskell purely functional programming language home page." name="description">
      <link href="/img/favicon.ico" rel="shortcut icon">
      <link rel="stylesheet" href="/css/fonts.css">
      <link rel="stylesheet" href="/css/hl.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
      <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
      <script>
         (function () {
            try {
              const isUwuValue = window.location 
                && window.location.search
                && window.location.search.match(/uwu=(true|false)/);
                
              if (isUwuValue) {
                const isUwu = isUwuValue[1] === 'true';
                if (isUwu) {
                  document.documentElement.classList.add('alternative-logo');
                  console.log('alternative logo enabled. turn off with ?uwu=false')
                  console.log('logo credit to @sawaratsuki1004. Slightly tweaked by @Tritlo');
                }
              }
            } catch (err) { }
          })();
      </script>
   </head>
   <body class="page-$page$">
     <div class="wrap">
       $if(isHome)$$else$
       <div class="template">
       $endif$

         $partial("templates/nav.html")$

         $if(isHome)$$else$
         <div class=" container ">
           <div class=" row ">
              <div class=" span12 col-sm-12">
         $endif$

         $body$

         $if(isHome)$$else$
             </div>
           </div>
         </div>
         $endif$

       $if(isHome)$$else$
       </div>
       $endif$
     </div>
     <div class="footer">
        <div class="container">
           <p>
           <div class=" container ">
              <div class=" row ">
                 <div class=" span3 col-sm-4 col-md-3"><span class="item">© 2014–$year$ haskell.org</span></div>
                 <div class=" span12 col-xs-12 visible-xs"><br></div>
                 <div class=" span8 col-sm-4 col-md-6 text-center"><br class="visible-xs"><span class="item">Got changes to contribute to the site? </span><br class="visible-xs"><a href="https://github.com/haskell-infra/www.haskell.org/">Fork or comment on GitHub</a><br class="visible-xs"></div>
                 <div class=" span12 col-xs-12 visible-xs"><br></div>
                 <div class=" span12 col-sm-12"><br></div>
              </div>
           </div>
           </p>
        </div>
     </div>
     <script src="/js/jquery.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/js/home.js"></script>
     <script src="/js/jquery.console.js"></script>
     <script src="/js/tryhaskell.js"></script>
     <script src="/js/tryhaskell.pages.js"></script>
     <img style="position: absolute;" class="invisible" referrerpolicy="no-referrer-when-downgrade" src="https://static.scarf.sh/a.png?x-pxid=7342a8f5-ceb0-403f-9ac8-72a94963320d" />
   </body>
</html>
