<!DOCTYPE HTML>
<html lang="en">
   <head>
      <title>$title$</title>
      <meta charset="utf-8">
      <meta content="IE edge" http-equiv="X-UA-Compatible">
      <meta content="width=device-width, initial-scale=1" name="viewport">
      <meta content="haskell,functional,pure,programming,lazy" name="keywords">
      <meta content="The Haskell purely functional programming language home page." name="description">
      <link href="/img/favicon.ico" rel="shortcut icon">
      <link rel="stylesheet" href="/css/fonts.css">
      <link rel="stylesheet" href="/css/hl.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
      <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
      <script>
         (function () {
            try {
              const altLogos = {
                pride: {
                  src: 'haskell-pride.svg',
                  credit: 'logo credit to @rhendric and the official Haskell logo designers. Inspired by Daniel Quasar\'s "Progress" Pride flag',
                },
                uwu: {
                  src: 'haskell-uwu.png',
                  credit: 'logo credit to @sawaratsuki1004. Slightly tweaked by @Tritlo',
                },
              };
              const params = new URLSearchParams(window.location.search);
              for (const name in altLogos) {
                const isEnabled = params.get(name);
                if (isEnabled === 'true') {
                  document.documentElement.classList.add('with-alternative-logo');
                  document.addEventListener('DOMContentLoaded', function () {
                    const img = document.getElementById('alternative-logo');
                    img.setAttribute('src', '/img/' + altLogos[name].src);
                    img.classList.add('alternative-logo-' + name);
                  });
                  console.log('alternative logo enabled. turn off with ?' + name + '=false')
                  console.log(altLogos[name].credit);
                }
              }
            } catch (err) { }
          })();
      </script>
   </head>
   <body class="page-$page$">
     <div class="wrap">
       $if(isHome)$$else$
       <div class="template">
       $endif$

         $partial("templates/nav.html")$

         $if(isHome)$$else$
         <div class=" container ">
           <div class=" row ">
              <div class=" span12 col-sm-12">
         $endif$

         $body$

         $if(isHome)$$else$
             </div>
           </div>
         </div>
         $endif$

       $if(isHome)$$else$
       </div>
       $endif$
     </div>
     <div class="footer">
        <div class="container">
           <p>
           <div class=" container ">
              <div class=" row ">
                 <div class=" span3 col-sm-4 col-md-3"><span class="item">© 2014–$year$ haskell.org</span></div>
                 <div class=" span12 col-xs-12 visible-xs"><br></div>
                 <div class=" span8 col-sm-4 col-md-6 text-center"><br class="visible-xs"><span class="item">Got changes to contribute to the site? </span><br class="visible-xs"><a href="https://github.com/haskell-infra/www.haskell.org/">Fork or comment on GitHub</a><br class="visible-xs"></div>
                 <div class=" span12 col-xs-12 visible-xs"><br></div>
                 <div class=" span3 col-sm-6 col-md-3 text-right"><span>Hosted on </span><a href="https://metal.equinix.com/"><img style="margin-left: 0.25em;" height="20" src="/img/EM-Horizontal-White.svg" alt="Equinix Metal"></a></div>
                 <div class=" span12 col-sm-12"><br></div>
              </div>
           </div>
           </p>
        </div>
     </div>
     <script src="/js/jquery.js"></script>
     <script src="/js/bootstrap.min.js"></script>
     <script src="/js/home.js"></script>
     <script src="/js/jquery.console.js"></script>
     <script src="/js/tryhaskell.js"></script>
     <script src="/js/tryhaskell.pages.js"></script>
     <img style="position: absolute;" class="invisible" referrerpolicy="no-referrer-when-downgrade" src="https://static.scarf.sh/a.png?x-pxid=7342a8f5-ceb0-403f-9ac8-72a94963320d" />
   </body>
</html>
